@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$body-background: #17b0be;
$inline-padding: 20px 40px;
$light-grey: #e7e6e6;
$grey-background: #eee;
$new-task-background: #f6f6f6;

root {
  --animate-delay: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
  transition: 300ms;
}

body {
  position: relative;
  background-color: $body-background;
}

.clipboard {
  padding: calc(10vh - 25px) 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1;
}

button {
  cursor: pointer;
}

.to-do-Section {
  padding: 10vh 10vw;
}

#to-do-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 10px solid #3a3a3c;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

@mixin icon() {
  border: none;
  background-color: transparent;
  color: dimgrey;
  width: 30px;
}

@mixin row-space-between() {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 30px;
  height: 30px;
  opacity: 1;
}

.icon:hover {
  opacity: 0.7;
}

.heading {
  @include row-space-between;

  background-color: $grey-background;
  padding: $inline-padding;

  h1 {
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  button {
    @include icon;
  }
}

hr {
  border: 1px solid $light-grey;
}

input {
  border: none;
}

input:enabled {
  border: none;
  outline: none;
}

#add-new-task {
  @include row-space-between;

  background-color: $new-task-background;
  padding: 0 40px;

  input {
    padding: 25px 0;
    background-color: $new-task-background;
    width: 90%;
  }

  input::placeholder {
    font-style: italic;
  }

  button {
    @include icon;
  }
}

#tasks-list {
  list-style: none;

  .task {
    display: flex;
    padding: 0 40px;
    align-items: center;
    gap: 15px;

    .description {
      width: 100%;
      display: flex;
      align-items: baseline;

      input {
        padding: 25px 0;
        text-overflow: ellipsis;
        width: 95%;
      }

      .checked {
        color: grey;
        font-style: italic;
        text-decoration: line-through;
      }
    }

    input:disabled {
      color: black;
    }

    .task-detail {
      display: flex;
      flex-grow: 1;
      gap: 15px;
      align-items: center;
    }

    button {
      @include icon;
    }
  }
}

#clear-completed-button {
  padding: $inline-padding;
  border: none;
  background-color: $grey-background;
}

#popup {
  display: none;
  position: fixed;
  padding: 15px;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  background-color: #cc0f0f;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);

  p {
    text-align: center;
    color: white;
  }
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

#dropped {
  inset: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}
